---
layout: default
---
<main>			
							
				
				<div class="page_wrap page_book_details">
<div class="wrap">
<h1 class="page_title">Books</h1>
<div class="details">
<div class="right">
<div class="badge">
          
        </div>
<img decoding="async" class="attachment-400x size-400x mobile_only" src="{{ page.copertina }}" width="400" height="" alt="cover Captain Vlad and the Mary Rose picture book">
<p class="shoutline">DPS Gabriel Jones</p>
	<p class="title">{{ page.title }}</p></a>
<p class="subtitle">dps@18f.it</p>
{{ content }}


</div>


</p>
</div>
<div class="left">
</div></div>




				</main>
