---
layout: default
---
<main>			
							
				
				<div class="page_wrap page_book_details">
<div class="wrap">
<h1 class="page_title">Books</h1>
<div class="details">
<div class="right">
<div class="badge">
          
        </div>
<img decoding="async" class="attachment-400x size-400x mobile_only" src="{{ page.copertina }}" width="400" height="" alt="cover Captain Vlad and the Mary Rose picture book">
<p class="shoutline">DPS Gabriel Jones</p>
	<p class="title">{{ page.title }}</p></a>
<p class="subtitle">dps@18f.it</p>
{{ content }}



	<div class="info">
  <h3>Directory</h3>
<p><strong><a href="/dps/">home dps</a></strong></p>
<p><strong><a href="/dps/OPAC/">OPAC dps</a></strong></p>
<p><strong><a href="/admin.int/">ADMIN dps</a></strong></p>
<p><strong><a href="/dps/clienti/">Clienti DPS</a></strong></p>
<p><strong><a href="/dps/calendario/">Calendario dps</a></strong></p>
<p><strong><a href="/dps/links/">Links dps</a></strong></p>
<p><strong><a href="/dps/filmaggioalex/">Filmaggio Alex 2019 dps</a></strong></p>
<p><strong><a href="/dps/archivio/">Materiale di Consultazione (PDF) dps</a></strong></p>
<p><strong><a href="/dps/amministrazione/">Finanza Gabriel</a></strong></p>
</div>
</div>


</p>
</div>
<div class="left">
</div></div>




				</main>
